.app {
  text-align: center;
  margin-top:50px;
  width:50%;
  background-color: #FFFEE6;
  display:flex;
  margin-left:auto;
  margin-right:auto;
  padding:20px 10px;
  border: solid 1px black;
}
.container {
  margin:20px 5px;
  padding-left:30px;
}
.title {
  margin-bottom:30px;
}
.cardCss {
  width:90%;
  margin:20px auto;
  background-color:#F4ED6E !important;
  border:solid 1px black !important;
}
